/*Style body by adding backgroud image and set it to cover, and  font family*/

body{
    background: url(images/downloadfile.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arvo, sans-serif;
 

}


/*Style the brand image*/
.logo{
    position: relative;
    padding: 0;
    margin: 0;
    height: 70px;
    width: 95px;
    top: -15px;
    left: -20px;
    
}
/*Style navbar*/
.navbar-inverse{
    background: rgba(0,0,0,0.9);

}

.nav li{
    font-size: 17px;
    margin-right: 34px;
    padding: 10px 0;
    color: #fff;
}
.nav li:hover{
    border-bottom: 1px solid #00ffb8;
    padding-bottom: 9px;
    cursor: pointer;
    color: white;
}

/*Style jumbotron*/
.jumbotron{
    background-color: transparent;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
    letter-spacing: 2.5px;
    margin-top: 70px;
    
}
/*Limit the width of the icons section*/
.container{
    max-width: 1000px;
}
/*Style icons section using bootstrap grid system*/
#icons img{
    height: 136px; 
}

.col-md-4{
    text-align: center;
    color: white;
}
#icons p{
    font-size: 15px;
}

#icons{
    margin-bottom: 100px;
}

/*Style contact button*/
#contact{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.btn{
    background: #ff0c00;
    color: white;
    font-size: 18px;
    padding: 10px 70px;
    letter-spacing: 1.3px;
    
}
.btn:hover{
    opacity: 0.8;
    background-color: rgba(200,200,200,0.5);
    border: none;
    color: whitesmoke;
}

.btn:active{
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: red;
}

/*Styling for the about us section*/
#aboutUs{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    margin:  250px 30px;
    padding: 50px 10px;
    line-height: 35px;
    font-size: 16px;
    font-weight: 1px;
    
}


/*Style footer*/
.footer{
    background-color: rgba(0,0,0,0.9);
    color: grey;
    font-size: 15px;
    padding: 10px 0;
}

.footer p{
    text-align: center;
    padding: 20px 0;

}
/*Use media queries to change icons size in small devices*/

@media (max-width: 768px){
    #icons img{
        height: 70px;
        
    }

    #aboutUs{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin:  100px 10px;
    padding: 30px 5px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 1px;
    

    }

    #aboutUs h2{
        font-size: 20px;
        text-align: center;

    }

}







#vision {
    background-color: aqua;
    border-radius: 50%;
    height: 100%;
    line-height: 650%;
    text-align: center;
    color: purple;
    font-size: 30px;
}







/*Position carousel for normal devices*/
#myCarousel {
    width: 80%;
    margin:  auto;
/*    text-align: center;*/
}


/*style the core values cariousel*/
#coreValues {
  
    margin-bottom: 50px;
}

.carousel-inner .item img{
    height: 400px;
    margin: 0 auto;
}

.carousel-caption {
    position: relative;
    right: auto;
    left: auto;
    height:auto;
    
}





#raps{
    text-align: center;
}

#raps img {
    position: relative;
    width: 90%;
    border-radius: 15px;
    
    
}

#aboutRaps{
    position: relative;
    background-color:burlywood;
    width: 90%;
    margin: 0 auto;
    padding-top:20px;
    height: 700px;
    margin-bottom: 10px;
    border-radius: 15px;
        
    
    
}

#aboutRaps ul li{
    margin: 15px auto;
    padding: 3px 10px;
    height: 40px;
    font-size: 15px
    
}

#raps p{
    font-size: 16px;
    padding: 10px;
}

#uscoImage {
    text-align: center;
    margin-bottom: 0px;
    padding: 0;
    position: relative;
    border-radius: 60px;
    
    
    
}

#uscoImage img{
    width: 95%;
    padding: 0;
    border-radius: 20px;
    
}
